body {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    color: 000;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    background: url(./header.png) no-repeat center top;
    padding-top: 57px;
    width: ;
    height: 900px;
}

header a {
    color: #fff;
}

.logo {
    margin-right: 69px;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li {
    margin-right: 40px;
}

.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}
.nav {
    display: flex;
    align-items: center;
}

.offer {
    width: 1166px;
    height: 257px;
    margin-top: 229px;
    flex-shrink: 0;
    color: #fff;
    letter-spacing: 0.1em;
    margin-bottom: 322px;
}
.text-1 {
    font-size: 30px;
    font-weight: 400;
}

.text-2 {
    font-size: 100px;
    font-weight: 400;
}
.book {
width: 238px;
height: 57px;
flex-shrink: 0;
border: 1px solid #fff;
text-align: center;
text-transform: uppercase;
line-height: 57px;
margin-top: 19px;
transition: all 0.5s ease;
}.book a {
    text-decoration: none;
}
.book :hover {
    background: #fff;
    color: black;
    transition: all 0.5s ease;
    display: block;
}

.descreption p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.62em;
    text-align: justify;
}
.descreption {
    display: flex;
    justify-content: space-between;
}
.desc-left {
    margin-right: 174px ;
}
.foto {
    display: flex;
    justify-content: space-between;
    margin-top: 84px;
}
.footer-text {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 114px 0;
}
.footer-text p{
    margin-right: 60px;
    
}

